"*":
  "activate-power-mode":
    autoToggle: false
    comboMode: {}
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake: {}
  "atom-beautify":
    _analyticsUserId: "78918bf0-678f-4860-8e13-1d88e31b1685"
    php_fixers: "-phpdoc_no_package"
  "atom-clock":
    dateFormat: " L(dd) LT"
    locale: "ja"
    refreshInterval: 15
    showClockIcon: true
  "atom-typescript": {}
  autosave:
    enabled: true
  core:
    audioBeep: false
    closeEmptyWindows: false
    disabledPackages: [
      "autocomplete-paths"
      "background-tips"
      "blade-snippets"
      "color-picker"
      "emmet"
      "language-blade"
      "laravel"
      "linter-eslint"
      "linter-php"
      "linter-sass-lint"
      "linter-tslint"
      "linter"
      "open-on-github"
      "package-generator"
      "processing-autocomplete"
      "processing-language"
      "processing"
      "save-session"
      "spell-check"
      "welcome"
      "whitespace"
      "wrap-guide"
      "deprecation-cop"
      "language-mustache"
      "language-objective-c"
      "language-hyperlink"
      "language-go"
      "language-csharp"
      "language-c"
      "language-clojure"
      "language-perl"
      "activate-power-mode"
      "archive-view"
      "pdf-view"
      "autoflow"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui-slim"
      "atom-material-syntax-dark"
    ]
  editor:
    fontFamily: "Source Han Code JP"
    fontSize: 11
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "5170c0e3-09f1-609f-010e-62993408a690"
  "find-and-replace": {}
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus": {}
  "highlight-selected":
    highlightBackground: true
    ignoreCase: true
    lightTheme: true
  linter: {}
  "linter-php": {}
  "linter-sass-lint":
    configPath: "~/.atom/.sass-lint.yml"
  "markdown-preview":
    useGitHubStyle: true
  "markdown-table-formatter": {}
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "platformio-ide-terminal":
    core:
      scrollback: 10000
    toggles:
      autoClose: true
  "sass-autocompile": {}
  "spell-check": {}
  "symbols-tree-view":
    autoHide: true
    zAutoHideTypes: "variable"
  "todo-show":
    ignoreThesePaths: [
      "**/node_modules/"
      "**/vendor/"
      "**/bower_components/"
    ]
    showInTable: [
      "Type"
      "Text"
      "File"
      "Line"
    ]
    sortAscending: false
    sortBy: "File"
  "tree-view":
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
