"*":
  "exception-reporting":
    userId: "5170c0e3-09f1-609f-010e-62993408a690"
  welcome:
    showOnStartup: false
  minimap:
    plugins:
      "minimap-autohide": true
      bookmarks: true
      pigments: true
      "highlight-selected": true
  core:
    audioBeep: false
    disabledPackages: [
      "wrap-guide"
    ]
    themes: [
      "atom-dark-ui"
      "earthsung-by-jackson-syntax"
    ]
  editor:
    invisibles: {}
    fontFamily: "VL Gothic"
    tabType: "soft"
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    fontSize: 12
  "atom-beautify":
    _analyticsUserId: "78918bf0-678f-4860-8e13-1d88e31b1685"
    php_fixers: "-phpdoc_no_package"
  "atom-typescript": {}
  linter: {}
  "linter-php": {}
  "symbols-tree-view":
    autoHide: true
    zAutoHideTypes: "variable"
  "sass-autocompile": {}
