/**
 * My Stylesheet
 */

// true or false
@enable: true;
// 'kotori', 'maki', 'other'
@mode: 'maki';
// when mode = other, set lessFilesList's use index.
@bkid: 2;

@lessFilePathPrefix: 'styles';
@lessFilesList: 'miku',
                '99b983892094b5c6d2fc3736e15da7d1',
                '3840x2160-hatsune_miku_vocaloid_twintails_anime_gray-26887',
                '48039_vocaloid_hatsune_miku',
                '40063_vocaloid_hatsune_miku',
                'll',
                '10721936814_38822fdd52_o',
                'vocaloid_gloves_hatsune_miku_rainbows_twintails_simple_background',
                'WZCd1XK',
                'vocaloid-hatsune-miku-girl-kimono-petals-3840x2400',
                'vocaloid_hatsune_miku_long_hai_2560x1440',
                '38289737',
                'lo-2551745-54836104_p0',
                'e00fd38b50310075668fcbe732231df1943401361386758911',
                'f0080272_57289fcd69b25',
                ;

.bkCfg() {
    @useFile: extract(@lessFilesList, @bkid);
    @import (reference) '@{lessFilePathPrefix}/@{useFile}';
    background: @img @imgposX @imgposY / cover;

    atom-workspace {
        background-color: transparent;
    }
}

.textShadow() {
    @base: lighten(rgba(0, 0, 0, 0.9), 10%);
    @normal: 0 0 1px black,
             1px 1px 1px @base,
             2px 2px 2px fadeout(@base, 25%),
             4px 4px 4px fadeout(@base, 50%);
    @pink:   -1px -1px 1px black,
             1px 1px 1px black,
             5/2px 5/2px 5px darken(pink, 50%),
             10/2px 10/2px 10px darken(pink, 25%),
             20/2px 20/2px 20px lighten(pink, 10%);
    @use: 'normal';
    text-shadow: @@use,
}

.kotori() {
    @import (reference) '@{lessFilePathPrefix}/lo-2551745-54836104_p0';
    @import (multiple, reference) '@{lessFilePathPrefix}/logo';
    @import (reference) '@{lessFilePathPrefix}/kotori';
    @import (reference) '@{lessFilePathPrefix}/kotoriProf';
    background: @kotoriProf calc(100% - 1px) calc(100% - 5px),
                @logo left top / 990px,
                @kotori left bottom / 500px,
                @img @imgposX @imgposY / cover;
    .skeleton();
}

.maki() {
    @import (reference) '@{lessFilePathPrefix}/LoveLive_maki_20150801_01';
    @import (multiple, reference) '@{lessFilePathPrefix}/logo';
    @import (reference) '@{lessFilePathPrefix}/makiProf';
    background: @makiProf right bottom,
                @logo left top / 990px,
                @img @imgposX @imgposY / cover;
    .skeleton();
}

.skeleton() {
    atom-workspace {
        background-color: fadeout(darken(#b8545c, 20%), 55%);
    }
}

.main(@enable, @mode) when (@enable = true) {
    &when(@mode = 'kotori') {
        .kotori();
    }

    &when(@mode = 'maki') {
        .maki();
    }

    &when(@mode = 'other') {
        .bkCfg();
    }
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    atom-workspace {
        atom-workspace-axis {
            atom-pane-resize-handle {
                background: rgba(100, 100, 100, 0.8);

                &.vertical {
                    height: 3px;
                }

                &.horizontal {
                    width: 3px;
                }
            }

            .tree-view-resize-handle {
                background: rgba(100, 100, 100, 0.8);
            }

            span {
                .textShadow();
            }

            div.settings-view {
                .textShadow();

                .btn,
                .setting-title {
                    //color: lighten(#aaa, 10%);
                }

                .setting-description {
                    color: darken(#aaa, 10%);
                }

                ::shadow .placeholder-text {
                    color: lighten(#555, 25%);
                }
            }

            div.title {
                .textShadow();
            }
        }

        atom-workspace-axis.vertical {
            opacity: 0.85;

            atom-text-editor {
                //color: #fde;
                &.editor {
                    .line.cursor-line {
                        background: rgba(200, 120, 120, 0.3);
                    }

                    .syntax--comment {
                        color: lighten(saturate(#877, 10%), 10%);
                    }

                    .line {
                        span {
                            .textShadow();
                        }

                        span.invisible-character {
                            text-shadow: none;
                            color: lighten(#514b43, 1%);
                        }
                    }

                    .highlight .region {
                        //background-color: fadeout(lighten(pink, 5%), 50%);
                    }

                    .line-number {
                        color: lighten(#7b7265, 5%);
                        text-shadow: 1px 1px 0 black;
                    }
                }
            }
        }

        .tree-view,
        atom-panel-container.left,
        atom-panel.tool-panel {
            //background-color: fadeout(darken(#078, 24%), 80%);
            opacity: 0.9;
        }

        .list-group li.list-nested-item > .list-item,
        .list-group li:not(.list-nested-item),
        .list-tree li.list-nested-item > .list-item,
        .list-tree li:not(.list-nested-item) {
            color: #bbb;
        }

        .atom-clock {
            font-size: 14px;
            color: darken(pink, 18%);
            text-shadow: 0 0 1px darken(pink, 25%), 0 0 1px darken(pink, 35%);
            .icon::before {
                top: 0;
            }
        }
    }
}

body {
    .main(@enable, @mode);
}
// Styles for the markdown preview.
@font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;

.markdown-preview.markdown-preview {
    font-family: @font-family;
    letter-spacing: 0.08em;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: @font-family;
    }

    h1 {
        margin: 50px 0 25px;
    }

    h2 {
        border-bottom: 2px solid #ddd;
        margin: 50px 0 25px;
        padding-bottom: 10px;
    }

    h3,
    h4,
    h5,
    h6 {
        margin: 40px 0 25px;
    }

    blockquote {
        margin: 25px 0;
        padding-left: 20px;
        border-left: 4px solid #ccc;
        font-style: italic;
        font-size: inherit;
        line-height: 1.5;

        p {
            font-size: inherit;
        }
    }

    li {
        margin-bottom: 1em;
    }
}

// Optimize the font for Japanese
// Default font << Source Han Code JP + Hiragino + Meiryo
@jp-font-style: 'Source Han Code JP', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;

div.status-bar-left,
div.status-bar-right,
div.title,
div.tree-view-scroller {
    font-family: @jp-font-style;
}

div.git-log {
    font-family: @jp-font-style !important;
    font-size: inherit;
}

// Git Controll
.git-control .files .file .icon.check {
    opacity: 0.1;
}
