/**
 * My Stylesheet
 */
atom-workspace {
    // background
    // filelist
    @lessFilesList: 'miku',
                    '99b983892094b5c6d2fc3736e15da7d1',
                    '3840x2160-hatsune_miku_vocaloid_twintails_anime_gray-26887',
                    '48039_vocaloid_hatsune_miku',
                    '40063_vocaloid_hatsune_miku',
                    ;
    @useFile: extract(@lessFilesList, 3);
    @import "styles/@{useFile}";
    background-image: @img;
    background-attachment: fixed;
    background-position: @imgposX @imgposY;
    background-repeat: no-repeat;
    background-size: cover;
    atom-workspace-axis {
        opacity: 0.9;
        atom-pane-resize-handle.vertical {
            background: rgba(51, 51, 51, 0.8);
            height: 4px;
            margin-top: -2px;
        }
    }
}
atom-text-editor {
    color: #eee;
}
atom-text-editor::shadow {
    // cursor-line
    .line.cursor-line {
        background: rgba(150, 100, 100, 0.4);
    }
    .comment {
        color: #7B9AD5;
    }
    .line span {
        text-shadow: 1px 1px 1px black;
    }
    .line span.invisible-character {
        text-shadow: none;
    }
}

// Styles for the markdown preview.
@font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
.markdown-preview.markdown-preview {
    font-family: @font-family;
    letter-spacing: 0.08em;
    h1, h2, h3, h4, h5, h6 {
        font-family: @font-family;
    }
    h1 {
        margin: 50px 0 25px;
    }
    h2 {
        border-bottom: 2px solid #ddd;
        margin: 50px 0 25px;
        padding-bottom: 10px;
    }
    h3, h4, h5, h6 {
        margin: 40px 0 25px;
    }
    blockquote {
        margin: 25px 0;
        padding-left: 20px;
        border-left: 4px solid #ccc;
        font-style: italic;
        font-size: inherit;
        line-height: 1.5;
        p {
            font-size: inherit;
        }
    }
    li {
        margin-bottom: 1em;
    }
}

// Optimize the font for Japanese
// Default font << Source Han Code JP + Hiragino + Meiryo
@jp-font-style: "Source Han Code JP", 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
div.title, div.tree-view-scroller, div.status-bar-left {
    font-family: @jp-font-style;
}
div.git-log {
    font-family: @jp-font-style !important;
    font-size: inherit;
}
